<!--
#####################################
# Aldaz Jayro               HEPIA
#
#####################################
-->

<!--  Page non utilisée d'une manière visuelle mais elle doit exister car j'utilise son controller -->

<h1>Formatvideo#create</h1>
<p>Find me in app/views/formatvideo/create.html.erb</p>
