<!--
#####################################
# Aldaz Jayro               HEPIA
#
#####################################
-->

<!-- Page qui confirme qu'un email a bien été envoyé -->
<!--  en-tête -->
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1><%= t('sendmail.confirmation_title') %>  <small><%= t('sendmail.confirmation_description') %></small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <%= t('sendmail.confirmation_title') %> </li>
      </ol>
    </div>
  </div>

  <!-- message de confirmation -->
  <p>
    <%= t('sendmail.message') %>
  </p>

</div>
