<!--
#####################################
# Aldaz Jayro               HEPIA
#
#####################################
-->

<!-- Page qui édite un commentaire.
Cette option a été désactivée dans la solution final du projet.
Pour éviter que même l'administrateur puisse
modifier un commentaire
-->
<h1>Editing comment</h1>

<%= render 'form' %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
