<!--
#####################################
# Aldaz Jayro               HEPIA
#
#####################################
-->
<!-- Si on veut créer un commentaire d'une manière indépendante -->
<h1>New comment</h1>

<%= render 'form' %>

<%= link_to 'Back', comments_path %>
